.avatar-circle {
    border-radius: 50%;
}

.avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
}

[data-bs-theme='light'] .d-dark {
    display: none;
}

[data-bs-theme='dark'] .d-light {
    display: none;
}

[data-bs-theme='light'] .d-auto {
    display: none;
}

[data-bs-theme='dark'] .d-auto {
    display: none;
}

ul.mine {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

ul.mine.grad li {
    padding-left: 1em;
    text-indent: 1em;
}

ul.mine.grad li:before {
    font-family: 'FontAwesome';
    content: '\f19d';
    margin: 0 5px 0 -15px;
    color: #fff;
}

ul.mine.grad li:before {
    font-family: 'FontAwesome';
    content: '\f19d';
    margin: 0 5px 0 -15px;
    color: #fff;
}