
.avatar-circle {
    border-radius: 50%;
  }
  .avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
  }


[data-bs-theme='light'] .d-dark {
  display: none;
}

[data-bs-theme='dark'] .d-light {
  display: none;
}

[data-bs-theme='light'] .d-auto {
  display: none;
}

[data-bs-theme='dark'] .d-auto {
  display: none;
}