
.avatar-circle {
    border-radius: 50%;
  }
  .avatar {
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
  }


[data-bs-theme='light'] .d-dark {
  display: none;
}

[data-bs-theme='dark'] .d-light {
  display: none;
}

[data-bs-theme='light'] .d-auto {
  display: none;
}

[data-bs-theme='dark'] .d-auto {
  display: none;
}

ul.icon
{
	list-style-type: none;
}

ul.icon li
{
	text-indent: -1em;
}

ul.icon li:before
{
	font-family: bullets;
	content: "\e800";
	float: left;
	width: 1em;
}

ul.icon li.info:before { content: "\e800"; }
ul.icon li.star:before { content: "\e803"; }
ul.icon li.help:before { content: "\e801"; }
ul.icon li.bulb:before { content: "\e804"; }
ul.icon li.hand:before { content: "\e805"; }
ul.icon li.bgrad:before { content: "\f19d"; }
ul.icon li.grad::before { content: "\f19d"; }
