
// Toggle global options
$enable-gradients: false;
$enable-shadows: false;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Include functions first
@import "../../node_modules/bootstrap/scss/functions";

// Customize some defaults

// Required
@import "myvariables";
@import "../../node_modules/bootstrap/scss/variables-dark";
$accordion-border-color: var(--#{$prefix}secondary-bg);

@import "custom";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
$utilities: map-merge(
  $utilities,
  (
    "width": map-merge(
      map-get($utilities, "width"),
      (responsive: true,
        values: map-merge(
          map-get(map-get($utilities, "width"), "values"),
                    (
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            97: 97%
          ),
        ),
      ),
    ),
    "height": map-merge(
      map-get($utilities, "height"),
      (values: map-merge(
          map-get(map-get($utilities, "height"), "values"),
                    (
            80: 80%,
            85: 85%,
            90: 90%,
            95: 95%,
            97: 97%
          ),
        ),
      ),
    ),
    )
);

    $utilities: map-merge(
  $utilities,
  (
    "font-size": map-merge(
      map-get($utilities, "font-size"),
      (values: map-merge(
          map-get(map-get($utilities, "font-size"), "values"),
                    (5b: $font-size-base * 1.15
          ),
        ),
      ),
    ),
  )
);



@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar"; // Requires nav
@import "../../node_modules/bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/accordion";
//@import "bootstrap/scss/pagination";
//@import "bootstrap/scss/badge";
//@import "bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
//@import "../../node_modules/bootstrap/scss/list-group";
// @import "bootstrap/scss/close";
//@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal"; // Requires transitions
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/utilities/api";
//
// Custom styles
//
$modal-content-border-color:  var(--#{$prefix});
$accordion-button-color: var(--#{$prefix}primary-text-emphasis) !default;
$accordion-button-active-color:var(--#{$prefix}body-color) !default;

.card-title {
  font-weight: bolder;
  text-decoration: none;
}

.sp-container {
  @include make-container();
  // Make sure to define this width after the mixin to override
  // `width: 100%` generated by `make-container()`
  width: 95%;
  
}



@import "icon-list";
